<div>
    <header>
        <h1>Test</h1>
        <button id="logout-btn" (click)="logout()">Wyloguj</button>
    </header>
    <div id="test-flashcard">
        <h2>[pytanie]</h2>
        <span>[nr fiszki]/[ilość fiszek]</span>
    </div>
    <div>
        <div id="options-row">
            <button (click)="next(0)">a: ...</button>
            <button (click)="next(1)">b: ...</button>
        </div>
        <div id="options-row">
            <button (click)="next(2)">c: ...</button>
            <button (click)="next(3)">d: ...</button>
        </div>
    </div>
</div>