<div>
  <header>
    <h1>Kreator talii</h1>
    <button id="back-btn">Powrót</button>
    <button id="logout-btn">Wyloguj</button>
  </header>
  <div id="deck-name">
    <h2>[nazwa talii]</h2>
    <button>[ikonka edycji]</button>
  </div>
  <div id="deck-container">
    <div id="flashcard-list">
      <div class="flashcard">
        <div class="question">[pytanie]</div>
        <div class="answer">[odpowiedź]</div>
        <button class="delete-flashcard-btn">[ikonka usunięcia]</button>
      </div>
      <div class="flashcard">
        <div class="question">[pytanie]</div>
        <div class="answer">[odpowiedź]</div>
        <button class="delete-flashcard-btn">[ikonka usunięcia]</button>
      </div>
      <div class="flashcard">
        <div class="question">[pytanie]</div>
        <div class="answer">[odpowiedź]</div>
        <button class="delete-flashcard-btn">[ikonka usunięcia]</button>
      </div>
      <div class="flashcard">
        <div class="question">[pytanie]</div>
        <div class="answer">[odpowiedź]</div>
        <button class="delete-flashcard-btn">[ikonka usunięcia]</button>
      </div>
    </div>
    <div id="deck-options">
      <button id="add-flashcard-btn">Dodaj</button>
      <button>Powtórka</button>
      <button>Test</button>
      <button>Udostępnij</button>
    </div>
  </div>
</div>