<div>
  <header>
    <h1>Kreator talii</h1>
    <button id="back-btn" [routerLink]="['/search']">Powrót</button>
    <button id="logout-btn" (click)="logout()">Wyloguj</button>
  </header>
  <div id="deck-name">
    <h2>{{ deck?.name }}</h2>
    <fa-icon [icon]="editIcon" (click)="showEditDeckDialog()"></fa-icon>
  </div>
  <div id="deck-container">
    <div id="flashcard-list">
      <div *ngFor="let flashcard of deck?.flashcards" class="flashcard">
        <div class="question">{{ flashcard.question }}</div>
        <div class="answer">{{ flashcard.answer }}</div>
        <fa-icon class="delete-flashcard-btn" [icon]="deleteIcon" (click)="deleteFlashcard(flashcard)"></fa-icon>
      </div>
    </div>
    <div id="deck-options">
      <button id="add-flashcard-btn" (click)="addFlashcard()">Dodaj</button>
      <button (click)="goToReview()">Powtórka</button>
      <button (click)="goToTest()">Test</button>
      <button (click)="shareDeck()">Udostępnij</button>
    </div>
  </div>

  <div *ngIf="isEditDeckDialog">
    <app-edit-deck-form [deckData]="{ 'name': deck?.name ?? '' }" (deckEdited)="editDeck($event)" />
  </div>
</div>