<div>
  <header>
    <h1>Kreator talii</h1>
    <button id="back-btn" [routerLink]="['/search']">Powrót</button>
    <button id="logout-btn" (click)="logout()">Wyloguj</button>
  </header>
  <div id="deck-name">
    <h2>[nazwa talii]</h2>
    <fa-icon [icon]="editIcon"></fa-icon>
  </div>
  <div id="deck-container">
    <div id="flashcard-list">
      <div class="flashcard">
        <div class="question">[pytanie]</div>
        <div class="answer">[odpowiedź]</div>
        <fa-icon class="delete-flashcard-btn" [icon]="deleteIcon"></fa-icon>
      </div>
      <div class="flashcard">
        <div class="question">[pytanie]</div>
        <div class="answer">[odpowiedź]</div>
        <fa-icon class="delete-flashcard-btn" [icon]="deleteIcon"></fa-icon>
      </div>
      <div class="flashcard">
        <div class="question">[pytanie]</div>
        <div class="answer">[odpowiedź]</div>
        <fa-icon class="delete-flashcard-btn" [icon]="deleteIcon"></fa-icon>
      </div>
      <div class="flashcard">
        <div class="question">[pytanie]</div>
        <div class="answer">[odpowiedź]</div>
        <fa-icon class="delete-flashcard-btn" [icon]="deleteIcon"></fa-icon>
      </div>
    </div>
    <div id="deck-options">
      <button id="add-flashcard-btn">Dodaj</button>
      <button [routerLink]="['/review']">Powtórka</button>
      <button [routerLink]="['/test']">Test</button>
      <button>Udostępnij</button>
    </div>
  </div>
</div>