#deck-options,
.deck {
    display: flex;
}

header {
    position: relative;
    text-align: center;
}

#back-btn {
    position: absolute;
    top: 0px;
    left: 10px;
}

#logout-btn {
    position: absolute;
    top: 0px;
    right: 10px;
}

#deck-container {
    height: 75vh;
    margin: 10px;
}

.deck-list {
    height: 100%;
    border: 2px solid;
    overflow-y: auto;
}

#deck-options {
    justify-content: center;
}

.deck {
    position: relative;
    align-items: center;
    margin: 10px;
    padding: 0px 10px;
    background-color: gray;
    height: 20%;
}

.delete-deck-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.is-deck-public {
    position: absolute;
    bottom: 15px;
    right: 15px;
}