<div>
    <header>
        <h1>Wyszukiwarka talii</h1>
        <button id="back-btn">Powrót</button>
        <button id="logout-btn">Wyloguj</button>
    </header>
    <div id="deck-options">
        <input type="text" placeholder="Wyszukaj talie" />
        <button id="add-flashcard-btn">Dodaj</button>
        <button id="online-flashcard-btn">Online</button>
    </div>
    <div id="deck-container">
        <div id="flashcard-list">
            <div class="flashcard">
                <div class="name">[nazwa]</div>
                <fa-icon class="delete-flashcard-btn" [icon]="deleteIcon"></fa-icon>
            </div>
            <div class="flashcard">
                <div class="name">[nazwa]</div>
                <fa-icon class="delete-flashcard-btn" [icon]="deleteIcon"></fa-icon>
            </div>
            <div class="flashcard">
                <div class="name">[nazwa]</div>
                <fa-icon class="delete-flashcard-btn" [icon]="deleteIcon"></fa-icon>
            </div>
            <div class="flashcard">
                <div class="name">[nazwa]</div>
                <fa-icon class="delete-flashcard-btn" [icon]="deleteIcon"></fa-icon>
            </div>
        </div>
    </div>
</div>